@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Komentārs */

/* CSS Selektori */

body{
    background-color: #5BC0EB;
}
h1,h2,h3{
    color:#E55934;
    text-align: center;
}

header h1{
    color:#fff;
}
/* header > h1{
    Strādā ar tiešiem pēctečiem
} */

button{
    border:1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button.btn_edit{
    background-color: #9BC53D;
}
button.btn_delete{
    background-color: #E55934;
}

section{
    margin:20px;
    border: 1px solid black;
    padding: 20px;
}

#s1{
    background-color: #DCD6F7;
}
#s2{
     background-color: #A6B1E1;
}
#s3{
 background-color: #CACFD6;
}
#s4{
 background-color: #D6E5E3;
}


table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    padding: 5px;
}

tr:nth-child(2n){
    background-color: #337de43e;
}


/* Elementu BOX modelis */
*{
    box-sizing: border-box;
    margin: 0px;
}    

header{
   width: 450px;
   /* max-width: 1000px;
   min-width: 100px; */

   height: 200px;
   /* max-height: max-content; */

   margin:50px;
   margin-top: 20px;
   margin-bottom:10px;
   margin: 20px auto;
  /* Ja bloka elements neazņem visu platumu un to ir jānovieto centrā izmantojam margin:auto */

  padding:30px;
  padding:10px 30px;

  

}
table{
    margin:30px auto;
}

section{
    /* border:5px solid #fff; */
    border-top:5px solid #fff;
    border-bottom:5px solid #de0e0e;

    border-radius:  20px 20px 0px 0px;

}

header img{
    display: block;
    margin: 16px auto;
}

main{
    max-width: 1200px;
    margin: auto;
}
nav{
    background-color: #CACFD6;
    padding: 10px 30px;
}


/* Flexbox - lai varētu sakārtot elementus konteinerī */

nav{
     display: flex;
     height: 100px;
     flex-direction: row;
     justify-content: center;
     /* justify-content: space-around; */
     align-items: center;

}

nav a{
    margin:0px 20px;
}


/* Teksta noformēšana */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: "Poppins", sans-serif;
    font-size: 14pt;
}

h1, h2, h3, h4, h5{
    margin: 20px 0px;
}
header{
    height: auto;
}
h1{
    font-size: 3rem;
    font-weight: 900;
    font-style: oblique;
    letter-spacing: 0px;
    text-align: center;
    /* text-decoration: underline double rgb(208, 255, 0);
    text-transform: uppercase; */

    padding-right: 5rem;
    font-family: "Jim Nightshade", cursive;

}
h2{
   font-size: 2.5rem; 
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}


/* Elementu pozicionēšana */
header{
    position: static; 
    /* Noklusēta vērtība */
    position: relative;
    /* top:50px;
    left:-50px;
    bottom:20px;
    right:20px; */

    position: absolute;
    /* right:10px;
    bottom:10px; */
    position: relative;
    width: 100%;
    height:200px;


}
header h1{
    position: absolute;
    top:3rem;
    left:45%;
    color:red;
    z-index: 3;
}
header img{
    position: absolute;
    top:2rem;
    left:40%;
    z-index: 1;
}

.absolute{
    position: fixed;
    bottom:20px;
    right:20px;
    z-index:-1;
}

.dialog{
     position: fixed;
     top:0;
     width: 100vw;
     height: 100vh;
     background-color: #d6e5e39f;
     display: flex;
     align-items: center;
     justify-content: center;
     display:none;
}

nav{
    position: sticky;
    top:0px;
    z-index: 100;

}

/* pseudo klases, pseudo elementi */

/* elementu reakcija uz lietotāju */


header img:hover{
    /* top:-5px; */
}
header h1:active{
    color:green;
}

input:focus-visible{
    outline: 2px solid red;
    padding:5px;
}
input:invalid{
    background-color: red;

}


h1,h2::after{
    content:"";
}
h1,h2::before{
    content:"";
    /* width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #de0e0e; */
}

h2::first-letter{
    /* color:#5BC0EB; */
    font-size:7rem
}


/* elementu transformācija un filtri  */

header img{
    transform: rotate(-10deg) scale(1.7) translate(0px,0px);
}

header div{
    perspective: 400px;
    
}
header h1{
    transform: rotateY(10deg);
}

/* filtri */
header img{
    filter: blur(3px);
    filter: sepia(100%);
    filter:grayscale(10%);
    filter:opacity(50%);
    filter: hue-rotate(-90deg);
    /* filter: invert(); */
    
}

nav a{
    text-decoration: none;
    color:black;
     transition: all 300ms ease-in-out;

}

nav a:hover{
    transform: scale(1.8) rotate(-5deg);
    transition: all 500ms ease-in-out;
}


tr:hover{
    background-color: rgba(245, 245, 245, 0.594);
    transition: all 200ms ease-in-out;
    cursor: pointer;
}


/* animacijas */
@keyframes animacija1{
    0%{
        transform: rotate(0deg) translate(0px,0px);
    }
    25%{
        transform: rotate(10deg) translate(10px,0px);
    }
    50%{
         transform: rotate(0deg) translate(10px,10px);
    }
    75%{
         transform: rotate(-10deg) translate(0px,10px);
    }
    100%{
        transform: rotate(0deg) translate(0px,0px);
    }


}


/* header h1{
    animation: vibrate-1 infinite ease-in-out 2s;
} */
header h1:hover{
    -webkit-animation:vibrate-1 .3s linear infinite both;animation:vibrate-1 .3s linear infinite both}



/* ----------------------------------------------
 * Generated by Animista on 2026-9-3 19:51:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}
@keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}
